
@media (max-width: 850px) {
    #ul__nav {
        display: none;
    }


    /* header */
    .header__linkd {
        display: inline-block;
        padding: 5px;
        border: 2px solid #fff;
        border-radius: 5px;
    
        font-size: 25px;
        text-decoration: none;
        color: #fff;

        position: relative;

        transition: all .15s linear;
    }

    .header__linkd:hover .menu__svg {
        fill: #E0B973;
    }

    .header__linkd:hover {
        border: 2px solid #E0B973;
    }

    .header__list li:hover .sub__menu__list {
        display: block;
    }

    .menu__svg {
        fill: white;
        display: flex;
        align-items: center;
        width: 50px;
        height: 35px;
    
        transition: all .15s linear;
    }

    .welcome h1{
        font-size: 20vw;
    }

    .welcome h2 {
        font-size: 10vw;
    }

    .welcome {
        text-align: center;
    }

    .sub__menu__list {
        display: none;
        width: 100%;
        max-width: 150px;
        position: absolute;
        right: 20px;

        border-radius: 5px;
        background-color: #E0B973;

        transition: all .15s linear;
    }

    .sub__link {
        display: block;
        padding: 10px;

        text-decoration: none;
        color: #fff;
        font-size: 20px;

        transition: all .1s linear;
    }

    .sub__link:hover {
        background-color: #fff;
        color: #E0B973;
        border-radius: 5px;
    }


    /* main */

    main .main__inform {
        padding: 50px 0 20px;
    }

    main .main__inform::after {
        content: '';
        display: block;
        width: 100%;
        height: 3px;
        position: absolute;
        bottom: 100%;
        left: 0;
        z-index: 1;
        background-color: #000;
    }

    .main__inform__img {
        display: none;
    }

    .main__inform__images {
        width: 100%;
        max-width: 864px;
        margin: 10px 0 0;
        height: auto;
    }

    main .main__info {
        flex-wrap: wrap;
        justify-content: center;
    }



    /* footer */

    footer .footer__block {
        border-left: 100px solid transparent;
        border-right: 100px solid transparent;
        border-bottom: 75px solid #14274A;
    }

    footer .footer__content {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 10px;
    }

    .footer__blok, .footer__link {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer__blok {
        margin: 0 0 10px;
    }

    footer .footer__email {
        width: 350px;
    }
}




@media (min-width: 850px) {
    .header__linkd, .sub__menu__list, .nav__hidden {
        display: none;
    }

    .main__inform__images {
        display: none;
    }
}