
@media (max-width: 850px) {
    #ul__nav {
        display: none;
    }

    .header__linkd {
        display: inline-block;
        padding: 5px;
        border: 2px solid #fff;
        border-radius: 5px;
    
        font-size: 25px;
        text-decoration: none;
        color: #fff;

        position: relative;

        transition: all .15s linear;
    }

    .menu__svg {
        fill: white;
        display: flex;
        align-items: center;
        width: 50px;
        height: 35px;
    
        transition: all .15s linear;
    }

    .header__linkd:hover .menu__svg {
        fill: #E0B973;
    }

    .header__linkd:hover {
        border: 2px solid #E0B973;
    }

    .header__list li:hover .sub__menu__list {
        display: block;
    }


    .sub__menu__list {
        display: none;
        width: 200px;
        position: absolute;
        right: 20px;

        border-radius: 5px;
        background-color: #E0B973;

        transition: all .15s linear;
    }

    .sub__link {
        display: block;
        padding: 10px;

        text-decoration: none;
        color: #fff;
        font-size: 20px;

        transition: all .1s linear;
    }

    .sub__link:hover {
        background-color: #fff;
        color: #E0B973;
        border-radius: 5px;
    }

    .footer__content {
        flex-wrap: wrap;
    }

    .footer__content {
        padding: 20px 0 0;
    }



    /* main__info */

    .main__info {
        flex-wrap: wrap;
    }

    .main__inform__img img {
        margin: 20px 20px 0 50px;
    }
}

@media (min-width: 850px) {
    .header__linkd, .sub__menu__list, .nav__hidden {
        display: none;
    }
}